
@font-face
{ font-family: "myFontTest";
    src: url(../fonts/ofont.ru_Montserrat.ttf);
}
@font-face
{
    font-family: "Bebas Neue";
    src: url(../fonts/ofont.ru_Bebas\ Neue.ttf);
}
.menu{
    
    background-color: lightblue;
    margin: 10px;
    padding:  50px;

}
.button{
    
     display: inline;
     margin: 30px;
     color: brown;
     font-family: "myFontTest";
     font-size: 30px;
    
}
.button2{
    display: inline;
     margin: 30px;
     color: red;
     font-family: "Bebas Neue";
     font-size: 40px;
}

